/* style.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #001845;
  color: white;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #002855;
  height: 200px;
  padding: 0 30px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #002855;
  height: 150px;
  padding: 0 30px;
}

.logo-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex: 1; /* fa espandere questa parte per occupare spazio disponibile */
}

#logoCanvas {
  /* border: 2px dashed red; */
  aspect-ratio: 1 / 1;
  height: 150px;
  flex-shrink: 0; /* impedisce che venga rimpicciolito */
}

.subtitle {
  font-size: 4rem;
  color: #c7e2fc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logo-right {
  display: flex;
  gap: 5px;
  align-items: center;
}
.logo-full {
  display: flex;
  /* gap: 50px; */
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.logo-right img, .logo-full img {
  height: 100px;
  width: auto;
  object-fit: contain;
}

.kpi-container {
    display: flex;
    flex-direction: column;
    gap: 42px;
    align-items: center;
    flex: 1;
    justify-content: center;
    padding: 20px 50px;
    height: calc(100% - 350px);
}

.kpi-card {
    background: #002855;
    border: 1px solid #1f3557;
    width: 100%;
    border-radius: 200px;
    padding: 15px 15px;
    color: white;
    height: calc((100% - 250px) / 5);
    font-family: sans-serif;
    gap: 50px;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
     transition: transform 0.4s ease;
}

.container-icon{
    height: 100%;
    aspect-ratio: 1.5 / 1;
    border-radius: 200px;
    background-color: #c7e2fc;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    border: 2px solid #1f3557;
}
.kpi-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    padding: 0;
}

.kpi-card:hover {
    transform: scale(1.02);
}

.kpi-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 20px;
}

.kpi-value {
    font-size: 4.3rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.divider {
  width: 85%;
  height: 10px;
  background-color: #00184575;
  border-radius: 100px;
  margin: 5px auto;
}

.kpi-label {
    font-size: 4.3rem;
    color: #cccccc;
}

/* Animazioni future */
@keyframes glow {
    0%, 100% { box-shadow: 0 0 10px #2ec4b6; }
    50% { box-shadow: 0 0 20px #2ec4b6; }
}

.kpi-card.animatable {
    animation: glow 2s infinite;
}
.logo-l4{
  margin: 5px auto;
    width: 70%;
    object-fit: contain;
}
.logo-l4 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0 0 3px #001845e3);
}
/* UTILS */
.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  backdrop-filter: blur(10px);
  background: #001845e3;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  color: white;
}


.modal-content {
  background: #002855;
  padding: 40px 30px;
  border-radius: 10px;
  text-align: center;
  width: 320px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}

.modal-content h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: #f7f7f7;
}

/* Input stile Angular Material */
.input-group {
  position: relative;
  margin-bottom: 24px;
  text-align: left;
}

.input-group input {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding: 12px 12px 12px 12px;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  transition: border-color 0.3s;
  background: transparent;
  color: white;
}

.input-group input:focus {
  border-bottom: 2px solid #3f51b5;
}

.input-group label {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 1rem;
  /* color: #999; */
  pointer-events: none;
  transition: 0.2s ease all;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: -8px;
  font-size: 0.75rem;
  /* color: #3f51b5; */
  /* background: white; */
  padding: 0 4px;
}

/* Bottone stile mat-raised-button */
.modal-content button {
  margin-top: 10px;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 500;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: background-color 0.25s;
}

.modal-content button:hover {
  background-color: #303f9f;
}


/* Animazioni per lo sfondo e bobbing */

.background-loop {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 200%;
  height: 60px;
  background: repeating-linear-gradient(
    -45deg,
    #00184581 0 10px,
    #c7e2fc 10px 20px
  );
  animation: scrollBg 15s linear infinite;
  z-index: 0;
}
.icon-cart {
  position: absolute;
  left: -260px;
      width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 20px;
  animation: bobbing 2s ease-in-out infinite;
}


@keyframes scrollBg {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes bobbing {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-3px); }
}

.cart-1 { animation: moveCart 30s linear infinite;  animation-delay: 0s; width: 80%; height: 80%; }
.cart-2 { animation: moveCart 30s linear infinite; animation-delay: 15s; width: 80%; height: 80%; }
.cart-3 { animation: moveCart 30s linear infinite; animation-delay: 30s; width: 80%; height: 80%; }
@keyframes moveCart {
  0% { left: -260px; }
  100% { left: 360px; }
}


/* TREE ANIMATION */
    .sun {
      position: absolute;
      left: 10px;
      top: -10px;
      width: 80px;
      height: 80px;
      z-index: 0;
      animation: sunGlow 30s linear infinite;
    }
    
    
    .tree-container {
      position: relative;
      width: 200px;
      height: 150px;
      /* background: linear-gradient(to right, transparent 50%, black 95%); */
      border-radius: 50px;
      overflow: hidden;
    }
    
    
    .tree {
      z-index: 1;
      position: absolute;
      /* width: 60px; */
      bottom: 0;
      opacity: 1;
      animation: wind 6s ease-in-out infinite;
      transform-origin: bottom center;
    }
    
    /* .tree-1 { left: 45px; top:-8px; animation-delay: 0s; height: calc(100% - 60px); width: 100px; z-index: 0;} */
    .tree-2 { left: 100px; top:40px; animation-delay: 0.3s; width: 60%; }
    .tree-3 { right: 0%; bottom:15%; animation-delay: 0.6s; width: 45%; }
    .tree-4 { left: 0%; top:-10px; animation-delay: 0.9s; width: 50%; }
    .tree-5 { left: -20%; bottom :10%; animation-delay: 1.2s; }
    .tree-9 { left: -35%; top :-15%; animation-delay: 1.2s; }
    .tree-6 { left: 30%; bottom :10%; animation-delay: 0.3s; }
    .tree-7 { left: 30%; top :-25%; animation-delay: 0.9s; }
    .tree-8 { left: 16%; top :7%; animation-delay: 0.6s; }
    /* .tree-5{
      scale: (3.5);
    } */
    @keyframes wind {
      0%, 100% { transform: rotate(0deg); }
      50% { transform: rotate(-3deg); }
    }
    
    .grass2{
      z-index: 1;
      position: absolute;
      /* width: 60px; */
      bottom: 0;
      opacity: 0.6;
      animation: grass 6s ease-in-out infinite;
      transform-origin: bottom center;
    }
  @keyframes grass {
    0%, 100% { transform: rotate(0deg) scale(0.3); }
    50% { transform: rotate(-5deg) scale(0.28); }
    }
    
    @keyframes sunGlow {
      0% { opacity: 1; transform: rotate(0deg) scale(1.2);}
      50% { opacity: 0.8; transform: rotate(180deg) scale(1.5); left: 15px; top: -5px; }
      100% { opacity: 1; transform: rotate(360deg) scale(1.2); left: 10px; top: -10px; }
    }
    
    
    .production-day-icon{
      animation: rotate 26s linear infinite;
      transform-origin: 49% 47%;
    }
    
    @keyframes rotate {
      0%{ transform: rotate(0deg); }
      50% { transform: rotate(180deg); background-color: #001845a5; }
      100% { transform: rotate(360deg); }
    }
    .earth{
      position: absolute;
      left: 3%;
      top: 60%;
      transform: scale(1.8);
      z-index: 10;
    }
    .sun2{
      /* animation: rotate 26s linear infinite;
      transform-origin: 49% 47%; */
      /* position: absolute;
      left: 0%;
      top: 0%; */
      width: 30%;
      height: 30%;
      /* z-index: -1; */
      /* filter: blur(20px); */
      opacity: 1;
      /* border: 2px solid #98ec08; */
    }
    .luna{
      /* position: absolute;  */
      /* border: 2px solid #fff; */
      
      /* bottom: 10%; */
      /* left: 0%; */
      /* transform: translate(50%, 0%); */
      width: 20%;
      transform: scaleX(-1);
      
      height: 40%;
      /* z-index: -1; */
      /* filter: blur(20px); */
      opacity: 1;
    }
    .anchor-point {
      /* position: absolute; */
      /* bottom:% !important; */
      left: 44%  !important;
      top: 21%  !important;
      width: 6px !important;
      height: 6px !important;
  background: red;
  border-radius: 50%;
  pointer-events: none;
}
.luna-container{
  display: flex;
  gap: 170px;
  flex-direction: column;
  animation: rotate 35s linear infinite;
  /* transform-origin: bottom; */
  /* border: 2px dashed #f50909;   */
  position: absolute;
  left: -50%;
  top: -10%;
  width: 200%;
  height: 240%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tp-1{
  animation: sunScale 25s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(0);
}
.tp-2{
  animation: sunRotate 25s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(0);
}
    @keyframes sunRotate {
      0%{ transform: rotate(0deg); }
      50% { transform: rotate(180deg) scale(1.3); }
      100% { transform: rotate(360deg); }
    }
    @keyframes sunScale {
      /* 0%{ transform: rotate(0deg); } */
      50% { transform: scale(1.3); }
      /* 100% { transform: rotate(360deg); } */
    }

    /* .grass {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-evenly;
  pointer-events: none;
  z-index: 0;
}

.blade {
  width: 6px;
  height: 15px;
  background-color: #000000;
  animation: sway 2.5s ease-in-out infinite;
  transform-origin: bottom center;
}

.blade.delay-1 { animation-delay: 0.2s; }
.blade.delay-2 { animation-delay: 0.4s; }
.blade.delay-3 { animation-delay: 0.6s; }
.blade.delay-4 { animation-delay: 0.8s; }

@keyframes sway {
  0%, 100% { transform: rotate(0deg); }
  50% { transform: rotate(-10deg); }
} */

.co2-icon{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* padding: 20px; */
  /* animation: bobbing 2s ease-in-out infinite; */
}

#co2-3, #co2-2{
  opacity: 0;
  transform: translatey(5%);
  filter: drop-shadow(0px -4px 0px #c7e2fc) drop-shadow(0px 4px 0px #c7e2fc) drop-shadow(-4px 0px 0px #c7e2fc) drop-shadow(4px 0px 0px #c7e2fc);
}

#co2-3 {
  animation: co2 20s linear infinite;
  animation-delay: 9s;
}
#co2-2 {
  animation: co2 18s linear infinite;
  animation-delay: 7s;
}

#co2-sun{
  animation: sunRotate 9s linear infinite;
  transform-origin: 49% 28%;
  
}
@keyframes co2 {
  0% { opacity: 0; transform: translatey(5%) scale(0.8); }
  25% { opacity: 0; }
  50% { opacity: 1; }
  80% { opacity: 0; transform: translateY(-5%) scale(1); }
  100% { opacity: 0; }
}

#co2-plane{
  animation: co2-plane 20s linear infinite;
  transform-origin: 49% 28%;
  
}
@keyframes co2-plane {
  0% {  transform: translate(-100%, 30%) scale(0.8); }
  25% { opacity: 1; }
  /* 50% { opacity: 1; } */
  75% { opacity: 1; }
  100% {  transform: translate(100%, -30%) scale(1.2); }
}
